/* bg colours */
$blue: #202b3d;
$orange: #f35938;
/* contents */
$lgrey: #ecedef;
$mgrey: #d4dade;


/* angular */
[ng\:cloak], 
[ng-cloak], 
.ng-cloak {
  display: none !important;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.block {
  background: #fdd;
  width: 100px;
  height: 100px;
}
@mixin horizontal-center() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

@mixin vertical-left() {
  -webkit-box-pack: flex-start;
  -moz-box-pack: flex-start;
  -ms-flex-pack: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

@mixin vertical-right() {
  -webkit-box-pack: flex-end;
  -moz-box-pack: flex-end;
  -ms-flex-pack: flex-end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

@mixin vertical-center() {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: Helvetica, Arial, Sans-serif;
  margin:0;
  overflow-x: hidden;
  padding:0;
  width:100%;
  -webkit-overflow-scrolling: touch;
}

body::-webkit-scrollbar { 
  display: none; 
}

#overlay {
  display: none;
  &.show {
    background: rgba(0,0,0,.8);
    bottom: 0;
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 99;
  }
}

#overlay-html {
  &.fixed {
    height: 100%;
    overflow-y: hidden;
  }
}
/* landing page */

#section-1 {
  background: #fff;
  height: 100vh;
  z-index: 100 !important;
}

header {
  background: #fff;
  color: #eee;
  height: 90px;
  position: relative;
  width: 100%;
  z-index: 10;
  nav {
    margin: 40px auto 0;
    /*width: 920px;*/
    #logo,
    #menu,
    #search {
      display: inline-block;
    }
    #menu {
      li {
        margin-right: 10px;
      }
      a {
        color: $blue;
        text-decoration: none;
      }
      a:hover,
      a.active {
        color: $orange;
      }
    }

    #logo {
      top: -12px;
    }
  }
  #mobile-menu {
    display: none;
  }
  li {
    display: inline-block;
  }
  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  &.hide {
    display: none;
  }
}

.menubar {
  background: #fff;
  color: #eee;
  height: 110px;
  position: relative;
  width: 100%;
  z-index: 10;
  nav {
    margin: 40px auto 0;
    /*width: 920px;*/
    #logo,
    #menu,
    #search {
      display: inline-block;
    }
  }
  #mobile-menu {
    display: none;
  }
  li {
    display: inline-block;
  }
  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}

#logo {
  background: url(../images/logo.jpg) no-repeat center center;
  /*background-size: 100px 62px;*/
  background-size: 68px 60px;
  height: 60px;
  position: relative;
  top: 25%;
  text-indent: -999em;
  transform: translateY(-25%);
  a {
    display: block;
    height: 60px;
  }
}


#container {
  width: 100%;
  overflow-y: scroll;
  // &.padding { 
  //   top: 90px;
  // }
}

.category-bar {
  background: $blue;
  color: #fff;
  z-index: 10;
  // margin-top: 90px;
  position: fixed;
  a {
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
  }
}

.category-bar-orange {
  background: $orange;
  color: #fff;
  z-index: 10;
  // margin-top: 90px;
  position: fixed;
  div {
    margin: 0 auto;
    max-width: 1020px;
  }
  a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
  }
  span.icon-angle-right {
    margin: 0 .5em;
  }
}

#category-bar-fixed,
.category-bar {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}

#hardware-items {
  margin-bottom: 70px;
  margin-top: 50px;
  > div {
    margin: 0 auto;
    max-width: 1020px;
  }
}

h1,h2,h3,p {
  margin: 0;
}

.l-box {
  padding: 2em;
}

.m-box {
  padding: 0 2em 2em;
}

/* section */
section {
  .l-box {
    margin: 0 auto;
    padding: 2em;
    /*max-width: 920px;*/
    img {
      height: auto;
      width: 100%;
    }
  }
  h2 {
    margin-top: 3em;
    margin-bottom: 2em;
    text-transform: uppercase;
  }
}

#hidden-back {
  display: none;
}

#section-1 {
  background: #fff url(../images/logo.png) no-repeat center center;
  /*background-size: 292px 173px;*/
  background-size: 200px 198px;
  position: relative;
  top: 25%;
  // text-indent: -999em;
  transform: translateY(0%);
  a {
    bottom: 30px;
    color: $blue;
    position: absolute;
    left: 0;
    right: 0;
    text-decoration: none;
    @include horizontal-center();
    @include vertical-center();
    .icon-arrow-down3 {
      font-size: 30px;
    }
  }
}

#section-2 {
  height: 100vh;
  background: url(../../images/3test.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  color: #fff;
  div {
    margin: 2em auto;
    position: relative;
    text-align: center;
  }
  p {
    margin-bottom: .5em;
  }
}

#section-3 {
  // background: $blue;
  background: url(../../images/blue-overlay.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  color: #bbb;
  a {
    color: #bbb;
    text-decoration: none;
  }
  #engineering {
    text-align: left;
    h2 {
      color: $orange;
      margin: 1em 0;
    }
    p {
      padding: 1em 0;
    }
  }
  #construction {
    text-align: left;
    h2 {
      color: $orange;
      margin: 1em 0;
    }
    p {
      padding: 1em 0;
    }
  }
  .detail-btn {
    margin: 2em 0;
    a {
      border: 1px solid #ccc;
      border-radius: 3px;
      padding: .8em;
    }
    a:hover {
      color: $orange;
      border-color: $orange;
    }
  }
}

#page-engineering,
#page-construction {
  background: #fff;
  bottom: 0;
  box-shadow: 1px 1px 10px #555;
  left: 0;
  margin: 4em;
  overflow-y: scroll;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

#section-4 {
  background: $orange;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  color: #fff;
  .hw-wrp {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
  }
  /*.hw {
    width: inherit !important;
    .hw-wrp {
      height: 20vw;
      padding: 1em .5em;
      width: 20vw;
      > div {
        margin-left: -.5em;
      }
    } 
  }*/
  .hw {
    // box-shadow: 1px 1px 10px rgba(0,0,0,.1);
  }
  .pure-g {
    margin-bottom: 6em;
  }
  h2 {
    margin: 4em 0 2em;
    text-align: center;
  }
}

/*.hw-wrp > div {
  display: block;
  height: 100%;
  padding: 4em;
  width: 100%;
  a {
    background: url(../images/octocat.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    color: #fff;
    height: 100%;
    display: block;
    position: relative;
    width: 100%;
    text-decoration: none;
    text-transform: capitalize;
    p {
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
      text-align: center;
      top: 110%;
    }
  }
}*/

#section-5 {
  background: $blue;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  color: #fff;
  h2 {
    color: $orange;
    margin-bottom: 1em;
    &#title-addr {
      margin-bottom: 0;
    }
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  a.link:hover {
    color: $orange;
    text-decoration: underline;
  }
  p {
    margin-bottom: .5em;
    span {
      display: inline-block;
      width: 80px;
    }
  }
  h3 {
    font-size: 1em;
    font-weight: 100;
    margin-bottom: 1em;
  }
}

/* category list */
.hardwares-list {
  padding-top: 1em;
  li {
    background: #eee;
    margin-bottom: 1em;
    a {
      color: $orange;
      display: block;
      padding: 1em;
      text-decoration: none;
    }
  }
  li:hover {
    background: $orange;
    a {
      color: #fff;
    }
  }
  .icon_test {
    background: url(../images/icon_test.png) no-repeat center center;
    /*background-size: 292px 173px;*/
    background-size: 18px 18px;
    display: inline-block;
    height: 14px;
    margin-right: .5em;
    position: relative;
    width: 17px;
  }
}

/* individual item list */
.hardware-list {
  li {
    img {
      padding: 1.5em 1.5em 1em;
      width: 100% !important;
    }
    h3 {
      font-size: .9em;
      font-weight: 100;
      overflow: hidden;
      padding: .5em 0 1.5em 0;
      text-align: center;
      white-space: nowrap;
    }
  }
  li:nth-of-type(odd) {
    background: $lgrey;
  }
  li:nth-of-type(even) {
    background: $mgrey;
  }
}

.contents {
  padding: 4em;
  text-align: left;
  .btn-close {
    padding-right: 4em;
    position: absolute;
    right: 0;
    span {
      font-size: 30px;
    }
  }
  p {
    padding: 0 !important;
  }
  img {
    margin: 2em 0;
    width: 100%;
  }
  a {
    color: $orange !important;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  h1,h2,h3,p {
    color: $blue;
    margin-bottom: 1em;
  }
  ul li {
    margin-top: 1em;
  }
  p.last { 
    margin-bottom: 2em;
  }
  ul {

  }
  li{
    p {
      margin-bottom: 0;
      span {
        margin-right: .5em;
      }
    }
    padding: 1.5em;
    &.light {
      background: $lgrey;
    }
    &.medium {
      background: $mgrey;
    }
  }
  div.inside {
    background: $lgrey;
    border-top: 1px solid #fff;
    color: $blue;
    padding: 1.5em;
    p:last-child {
      margin-bottom: 0;
    }
    span.icon-plus {
      font-weight: 100;
    }
  }
  div.inside-d {
    background: $mgrey;
    border-top: 1px solid #fff;
    color: $blue;
    padding: 1.5em;
    p:last-child {
      margin-bottom: 0;
    }
  }
}

.map {
  display: block;
  height: 350px;
  margin-bottom: 4em;
  &#store1 div {
    background: url(../images/map1.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height: 300px;
  }
  &#store2 div {
    background: url(../images/map2.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height: 300px;
  }
}

footer {
  background: #1b1f24;
  text-transform: uppercase;
  height: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  span {
    color: #bbb;
    display: inline;
    font-size: 12px;
    height: inherit;
    line-height: 4;
    margin-left: 3em;
    text-align: left;
    text-shadow: #000;
  }
  a {
    color: #bbb;
    text-decoration: none;
    text-shadow: #000;
    &:hover {
      color: $orange;
    }
  }
  form {
    display: inline;
    position: absolute;
    right: 3em;
    top: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
/*  .hw-wrp > div {
    padding: 4em;
  }*/
}

@media (min-width: 768px) {
  header {
    nav {
      #menu {
        li {
          margin-right: 10px;
        }
      }
    }
  }

  .category-bar,
  .category-bar-orange {
    padding: 1em 2em;
  }
  #section-2 {
    div {
      text-align: center;
      width: 50%;
      margin: 0 auto;
      margin-top: 3em;
      position: relative;
      margin-top: 25%;
    }
  }
  #section-3 {
    #engineering {
      text-align: left;
      display: block;
        margin-top: 4em;
        width: 50%;
      // > a {
      //   border: 1px solid #777;
      //   display: block;
      //   margin-top: 4em;
      //   width: 50%;
      // }
    }
    #construction {
      text-align: right;
      display: block;
        float: right;
        margin: 3em 0;
        margin-bottom: 6em;
        width: 50%;
      // > a {
      //   border: 1px solid #777;
      //   display: block;
      //   float: right;
      //   margin: 3em 0;
      //   margin-bottom: 6em;
      //   width: 50%;
      // }
    }
  }
  #section-4 {
    // .hw {
    //   box-shadow: 1px 1px 10px rgba(0,0,0,.1);
    //   width: 20vw;
    //   .hw-wrp {
    //     display: block;
    //     height: 20vw;
    //     div {
    //       left: 0;
    //       margin: 0 auto;
    //       right: 0;
    //       img {
    //         padding: 1em 4em .5em;
    //         width: 100%;
    //       }
    //     }
    //     p {
    //       padding: 0 2em 1em;
    //       text-align: center;
    //       width: 100%;
    //       @include horizontal-center();
    //       @include vertical-center();
    //     }
    //   }
    // }

  }
}

@media (max-width: 767px) {
  header {
    nav {
      margin: 40px auto 0;
      #menu {
        li {
          margin-right: 10px;
        }
      }
    }
  }
  #section-1 {
    display: none;
  }
  #section-2 {
    .l-box {
      position: relative;
      top: 25%;
      transform: translateY(-25%);
    }
  }
}

@media (min-width: 568px) and (max-width: 767px){
  .category-bar,
  .category-bar-orange {
    padding: 1em 2em;
  }
  .hardwares-list {
    padding: 1em 2em;
  }
  #hardware-items > div {
    margin-top: 0;
  }
  header {
    height: 80px;
    nav {
      /*margin: 25px auto 0;*/
      width: 100%;
      #menu {
        display: inline-block;
      }
    }
  }
  #section-4 {
    .pure-g {
      margin-bottom: 4em;
    }
    // .hw {
    //   box-shadow: 1px 1px 10px rgba(0,0,0,.1);
    //   width: 33.333333333333vw;
    //   .hw-wrp {
    //     height: 33.333333333333vw;
    //     div {
    //       left: 0;
    //       margin: 0 auto;
    //       right: 0;
    //       img {
    //         padding: 2em;
    //         width: 100%;
    //       }
    //     }
    //     p {
    //       padding: 0 0 1em;
    //       text-align: center;
    //     }
    //   }
    // } 
  }
  .hardware-list {
    .l-box {
      padding: 0 !important;
    }
  }
}

@media (max-width: 567px) {
  #hidden-back {
    display: inline-block;
  }
  .l-box {
    padding: 1em;
  }
  .category-bar,
  .category-bar-orange {
    padding: 1em;
  }
  .hardwares-list {
    padding: 0 1em;
  }
  .content {
    img {
      margin: 1em 0;
      width: 100%;
    }
  }
  .hardwares-list {
    h3 {
      font-weight: 400;
      font-size: .9em;
      white-space: pre;
      overflow: hidden;
    }
  }
  #hardware-items {
    margin-top: 100px;
  }
  #hardware-items > div {
    margin-top: 0;
  }
  header {
    height: 70px;
    nav {
      margin: 25px auto 0;
      width: 100%;
      #menu {
        display: none;
      }
      #search {
        display: none;
      }
      #logo {
        left: 10px;
        top: -5px;
      }
    }
    #mobile-menu {
      display: inline-block;
      position: absolute;
      right: 0;
    }
  }

  #logo {
    background: url(../images/logo.jpg) no-repeat left center;
    /*background-size: 100px 62px;*/
    background-size: 57px 50px;
    height: 50px;
    position: relative;
    top: 25%;
    text-indent: -999em;
    transform: translateY(-25%);
  }
  section {
    .l-box {
      margin: 0 auto;
      padding: 1em;
    }
    h2 {
      margin-top: 3em;
    }
  }

  #section-2 .l-box {
    top: 45%;
  }

  #page-engineering,
  #page-construction {
    margin: 1em;
    h1 {
      font-size: 1.5em;
    }
  }

  
  #hw1,
  #hw2,
  #hw3,
  #hw4,
  #hw5,
  #hw6,
  #hw7,
  #hw8,
  #hw9,
  #hw10,
  #hw11,
  #hw12,
  #hw13,
  #hw14 {
    display: none;
  }
  #section-3 {
    #engineering {
      text-align: left;
      > a {
        display: block;
        margin-top: 4em;
      }
    }
    #construction {
      text-align: left;
      > a {
        display: block;
        margin: 3em 0;
      }
    }
  }
  #section-4 {
    .pure-g {
      margin-bottom: 4em;
    }
    // .hw {
    //   box-shadow: 1px 1px 10px rgba(0,0,0,.1);
    //   width: 100vw;
    //   .hw-wrp {
    //     height: 100vw;
    //     div {
    //       left: 0;
    //       margin: 0 auto;
    //       right: 0;
    //       img {
    //         padding: 2em;
    //         width: 100%;
    //       }
    //     }
    //     p {
    //       padding: 0 0 1em;
    //       text-align: center;
    //     }
    //   }
    // } 
  }
  .hardware-list {
    .l-box {
      padding: 0 !important;
    }
    li {
      img {
        padding: 1.5em 3.5em 1em;
      }
      h3 {
        font-size: 1.1em;
        font-weight: 100;
        overflow: hidden;
        padding: .5em 0 1.5em 0;
        text-align: center;
        white-space: nowrap;
      }
    }
  }

  .category-bar-orange {
    background: $orange;
    color: #fff;
    /*margin-top: 110px;*/
    a {
      color: #fff;
      text-decoration: none;
      text-transform: capitalize;
    }
    .cate-level {
      // display: none;
    }
    #item-title {
      // float: right;
    }
  }
  #page-engineering,
  #page-construction {
    margin: 1em;
  }

  .contents {
    padding: 1em;
    .btn-close {
      padding-right: 1em;
    }
  }

  /* contact */
  .m-box {
    padding: 0 1em 2em;
  }
  .map {
    margin-bottom: 0;
  }

  footer > form {
    display: none;
    position: relative;
  }

  .category-bar-orange {
    p > a {
      display: block;
    }
  }
  
}

/* testing only - should remove this css below */
#test a {
  color: #888;
  font-size: .7em;
  text-decoration: none;
  text-transform: none;
}

#section-4 {
  >div.pure-g {
    padding: 2em;
  }
  .hw {
    background: #fff;
    border: 4px solid $orange;

      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    p { color: $orange;}
    .hw-wrp {
      display: block;
      padding: 1.5em;
      div,
      p {
        text-align: center;
      }
      p{
        font-size: .88em;
        padding: 0 1em;
        width: 100%;
      }
    }
  }
  
  .icon {
    background: url(../images/icons/icon13.jpg) no-repeat center;
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    background-size: 74px 64px;
    height: 64px;
    position: relative;
  }
  .hw:hover {
    // background: $orange;
    border: 2px solid #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    p{
      color: $orange;
    }
  }
}

#submit {
  padding: 2.5px;
}
