<div class='pure-u-1' id='changedMind' ng-hide='changedMind' ng-cloak>
  <ng-include src="'change.html'"></ng-include>
</div>
<div class='pure-u-1' ng-cloak id='restaurants'>
  <div class='pure-g'>
    <div class='pure-u-1 page swipe' id='slider'>
      <div class='swipe-wrap'>
        <div>
          <div class='image-wrapper l-box'>
            <img src='images/2.jpg' />
          </div>
          <div class='i-box'>
            <h2>Dine #1 <span class='icon-heart'> 152 Liked</span></h2>
            <ul class='pure-g list-info'>
              <li class='pure-u-1-3'>Western</li>
              <li class='pure-u-1-3'>
                <span class='icon-coin'></span>
                <span class='icon-coin'></span>
                <span class='icon-coin'></span>
                <span class='icon-coin'></span>
                <span class='icon-coin'></span>
              </li>
              <li class='pure-u-1-3'>
                <span class='icon-star'></span>
                <span class='icon-star'></span>
                <span class='icon-star'></span>
                <span class='icon-star'></span>
                <span class='icon-star2'></span>
              </li>
            </ul>
          </div>
          <ul class='i-box'>
            <li class='pure-u-1'><a href='https://www.google.com.sg/maps/place/Clarke+Quay/@1.2909355,103.8454321,17z/data=!3m1!4b1!4m2!3m1!1s0x31da19a038007c9d:0x20e5acd1e8ccf02'><span class='icon-map'></span> Map <p class='location'> 0.5km <span class='icon-location'></span></p></a></li>
            <li class='pure-u-1'>
              <a>
                <span class='icon-directions'></span> Address
                <p>Clarke Quay 3E River Valley Rd</p>
                <p>Singapore 179024</p>
              </a>
            </li>
            <li class='pure-u-1'><a href='tel:+6597329504'> <span class='icon-phone'></span>+65 9732 9504</a></li>
          </ul>
          <div class='i-box promotions'>
            <h3>Promotions</h3>
            <ul>
              <li>Lunch set</li>
              <img src='images/promo.png' />
            </ul>
          </div>
        </div>
        <div>
          <div class='image-wrapper l-box'>
            <img src='images/6.jpg' />
          </div>
          <div class='i-box'>
            <h2>Dine #2 <span class='icon-heart'> 15 Liked</span></h2>
            <ul class='pure-g list-info'>
              <li class='pure-u-1-3'>Western</li>
              <li class='pure-u-1-3'>
                <span class='icon-coin'></span>
                <span class='icon-coin'></span>
                <span class='icon-coin'></span>
                <span class='icon-coin'></span>
              </li>
              <li class='pure-u-1-3'>
                <span class='icon-star'></span>
                <span class='icon-star'></span>
                <span class='icon-star'></span>
                <span class='icon-star2'></span>
                <span class='icon-star2'></span>
              </li>
            </ul>
          </div>
          <ul class='i-box'>
            <li class='pure-u-1'><a href='https://www.google.com.sg/maps/place/Clarke+Quay/@1.2909355,103.8454321,17z/data=!3m1!4b1!4m2!3m1!1s0x31da19a038007c9d:0x20e5acd1e8ccf02'><span class='icon-map'></span> Map <p class='location'> 0.5km <span class='icon-location'></span></p></a></li>
            <li class='pure-u-1'>
              <a>
                <span class='icon-directions'></span> Address
                <p>Clarke Quay 3E River Valley Rd</p>
                <p>Singapore 179024</p>
              </a>
            </li>
            <li class='pure-u-1'><a href='tel:+6597329504'> <span class='icon-phone'></span>+65 9732 9504</a></li>
          </ul>
          <div class='i-box promotions'>
            <h3>Promotions</h3>
            <ul>
              <li>Lunch set</li>
            </ul>
          </div>
        </div>
        <div>
          <div class='image-wrapper l-box'>
            <img src='images/5.jpg' />
          </div>
          <div class='i-box'>
            <h2>Dine #3 <span class='icon-heart'> 15 Liked</span></h2>
            <ul class='pure-g list-info'>
              <li class='pure-u-1-3'>Chinese</li>
              <li class='pure-u-1-3'>
                <span class='icon-coin'></span>
                <span class='icon-coin'></span>
                <span class='icon-coin'></span>
              </li>
              <li class='pure-u-1-3'>
                <span class='icon-star'></span>
                <span class='icon-star'></span>
                <span class='icon-star'></span>
                <span class='icon-star'></span>
                <span class='icon-star2'></span>
              </li>
            </ul>
          </div>
          <ul class='i-box'>
            <li class='pure-u-1'><a href='https://www.google.com.sg/maps/place/Clarke+Quay/@1.2909355,103.8454321,17z/data=!3m1!4b1!4m2!3m1!1s0x31da19a038007c9d:0x20e5acd1e8ccf02'><span class='icon-map'></span> Map <p class='location'> 0.5km <span class='icon-location'></span></p></a></li>
            <li class='pure-u-1'>
              <a>
                <span class='icon-directions'></span> Address
                <p>Clarke Quay 3E River Valley Rd</p>
                <p>Singapore 179024</p>
              </a>
            </li>
            <li class='pure-u-1'><a href='tel:+6597329504'> <span class='icon-phone'></span>+65 9732 9504</a></li>
          </ul>
          <div class='i-box promotions'>
            <h3>Promotions</h3>
            <ul>
              <li>Lunch set</li>
            </ul>
          </div>
        </div>
        <div>
          <div class='image-wrapper l-box'>
            <img src='images/7.jpg' />
          </div>
          <div class='i-box'>
            <h2>Dine #4 <span class='icon-heart'> 15 Liked</span></h2>
            <ul class='pure-g list-info'>
              <li class='pure-u-1-3'>Vietnamese</li>
              <li class='pure-u-1-3'>
                <span class='icon-coin'></span>
                <span class='icon-coin'></span>
                <span class='icon-coin'></span>
              </li>
              <li class='pure-u-1-3'>
                <span class='icon-star'></span>
                <span class='icon-star'></span>
                <span class='icon-star'></span>
                <span class='icon-star'></span>
                <span class='icon-star2'></span>
              </li>
            </ul>
          </div>
          <ul class='i-box'>
            <li class='pure-u-1'><a href='https://www.google.com.sg/maps/place/Clarke+Quay/@1.2909355,103.8454321,17z/data=!3m1!4b1!4m2!3m1!1s0x31da19a038007c9d:0x20e5acd1e8ccf02'><span class='icon-map'></span> Map <p class='location'> 0.5km <span class='icon-location'></span></p></a></li>
            <li class='pure-u-1'>
              <a>
                <span class='icon-directions'></span> Address
                <p>Clarke Quay 3E River Valley Rd</p>
                <p>Singapore 179024</p>
              </a>
            </li>
            <li class='pure-u-1'><a href='tel:+6597329504'> <span class='icon-phone'></span>+65 9732 9504</a></li>
          </ul>
          <div class='i-box promotions'>
            <h3>Promotions</h3>
            <ul>
              <li>Lunch set</li>
              <li>Promotions</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>