<!-- <div class='pure-u-1 fixed menubar'>
  <nav id='nav' class='pure-g'>
    <h1 id='logo' class='pure-u-1-4 pure-u-sm-1-8 pure-u-md-1-8 pure-u-lg-1-8'>
      <a href='#/'>Logo</a>
    </h1>
    <ul id='menu' class='pure-u-sm-5-8 pure-u-md-5-8 pure-u-lg-5-8'>
      <li><a href="#/">Home</a></li>
      <li><a href="#/engineering">E</a></li>
      <li><a href="#/construction">C</a></li>
      <li><a href="#/hardwares">H</a></li>
    </ul>
    <div id='search' class='pure-u-sm-1-4 pure-u-md-1-4 pure-u-lg-1-4'>search</div>
  </nav>
</div> -->
<div class='pure-u-1 category-bar'>
  <div>
    <p>
      <a href="#section-2">Home</a> > <a href="#/construction">Construction</a> 
    </p>
  </div>
</div>
<div class='pure-u-1 contents'>
  <div class='l-box'>
    <h1>Title</h1>
    <p>Shoulder cow tenderloin chuck, pork chop jerky doner leberkas. Chuck sausage hamburger, kevin beef pork chop   pork shoulder ground round ball tip turducken flank.</p>
    <p>Shoulder cow tenderloin chuck, pork chop jerky doner leberkas. Chuck sausage hamburger, kevin beef pork chop   pork shoulder ground round ball tip turducken <a href="">flank</a>.</p>
    <p class='last'>Bresaola tri-tip meatloaf, salami venison tail pig shank   shankle jowl sausage brisket cow biltong turducken. Swine turducken hamburger ball tip short loin prosciutto kevin  jowl tri-tip. Doner meatloaf pork brisket.</p>
    <h1>Services</h1>
    <ul>
      <li class='light' ng-click='listId1 = !listId1'><p><span class="icon-check"></span>subtitle</p></li>
      <div class='inside' ng-show='listId1'>
        <p>- 111</p>
        <p>- 111</p>
        <p>- 111</p>
      </div>
      <li class='medium' ng-click='listId2 = !listId2'><p><span class="icon-check"></span>subtitle</p></li>
      <div class='inside-d' ng-show='listId2'>
        <p>- 222</p>
        <p>- 222</p>
        <p>- 222</p>
      </div>
      <li class='light' ng-click='listId3 = !listId3'><p><span class="icon-check"></span>subtitle</p></li>
      <div class='inside' ng-show='listId3'>
        <p>- 333</p>
        <p>- 333</p>
        <p>- 333</p>
      </div>
      <li class='medium' ng-click='listId4 = !listId4'><p><span class="icon-check"></span>subtitle</p></li>
      <div class='inside-d' ng-show='listId4'>
        <p>- 444</p>
        <p>- 444</p>
        <p>- 444</p>
      </div>
    </ul>
  </div>
</div> 