<div class='pure-u-1 category-bar'>
  <div>
    <p><a href="#/">Home</a> > <a href="#/engineering">Engineering</a> </p>
  </div>
</div>
<div class='pure-u-1 contents'>
  <div class='l-box'>
    <h1>Title</h1>
    <p>Shoulder cow tenderloin chuck, pork chop jerky doner leberkas. Chuck sausage hamburger, kevin beef pork chop   pork shoulder ground round ball tip turducken flank.</p>
    <p>Shoulder cow tenderloin chuck, pork chop jerky doner leberkas. Chuck sausage hamburger, kevin beef pork chop   pork shoulder ground round ball tip turducken flank.</p>
    <p>Shoulder cow tenderloin chuck, pork chop jerky doner leberkas. Chuck sausage hamburger, kevin beef pork chop   pork shoulder ground round ball tip turducken flank.</p>
    <p class='last'>Bresaola tri-tip meatloaf, salami venison tail pig shank   shankle jowl sausage brisket cow biltong turducken. Swine turducken hamburger ball tip short loin prosciutto kevin  jowl tri-tip. Doner meatloaf pork brisket.</p>
    <h1>Services</h1>
    <ul>
      <li class='light' ng-click='listId1 = !listId1'><p><span class="icon-check"></span>subtitle</p></li>
      <div class='inside' ng-show='listId1'>
        <p>- 111</p>
        <p>- 111</p>
        <p>- 111</p>
      </div>
      <li class='medium' ng-click='listId2 = !listId2'><p><span class="icon-check"></span>subtitle</p></li>
      <div class='inside-d' ng-show='listId2'>
        <p>- 222</p>
        <p>- 222</p>
        <p>- 222</p>
      </div>
      <li class='light' ng-click='listId3 = !listId3'><p><span class="icon-check"></span>subtitle</p></li>
      <div class='inside' ng-show='listId3'>
        <p>- 333</p>
        <p>- 333</p>
        <p>- 333</p>
      </div>
      <li class='medium' ng-click='listId4 = !listId4'><p><span class="icon-check"></span>subtitle</p></li>
      <div class='inside-d' ng-show='listId4'>
        <p>- 444</p>
        <p>- 444</p>
        <p>- 444</p>
      </div>
    </ul>
  </div>
</div>
 