<div class='pure-u-1 category-bar-orange' id='category-bar-fixed' ng-controller='hwCate1Ctrl'>
  <div>
    <p>
      <a class='cate-level' href="#/">Home</a>
      <a class='item-title' href="#/hardwares"><span class='icon-arrow-right'></span> Hardwares</a>
      <a id='item-title' href="#/hardwares/{{title}}"><span class='icon-arrow-right'></span> {{titletext}}</a>
    </p>
  </div>
</div>
<div class='pure-u-1' id='hardware-items'>
  <div>
    <ul class='pure-u-1 hardwares-list'>
      <li class='pureu-1' ng-repeat='items in hardwares1'>
      <!-- <p>{{items}}</p> -->
        <a href='#/hardwares/{{title}}/{{items.category_id}}'>
          <h3>{{items.title}}</h3>
        </a>
      </li>
    </ul>
  </div>
</div>