<!-- direct to page of showing random dishes -->
<a class='pure-u-1 dine-block dishes' href='#/dishes'><p>Show me dishes</p></a>
<!-- filter by cuisine -->
<div class='pure-u-1 dine-block cuisine'>
	<div class='pure-g'>
  	<a class='pure-u-1-2 dine-block-inside asian' href='#/asian'><p>Asian</p></a>
  	<a class='pure-u-1-2 dine-block-inside local' href='#/local'><p>Local</p></a>
  </div>
  <div class='pure-g'>
  	<a class='pure-u-1-2 dine-block-inside western' href='#/western'><p>Western</p></a>
  	<a class='pure-u-1-2 dine-block-inside restaurant' href='#/restaurant'><p>Restaurant</p></a>
  </div>
</div>