<div class='pure-u-1' ng-cloak>
  <div class='pure-g'>
    <div class='pure-u-1 page swipe' id='slider'>
      <div class='swipe-wrap'>
        <div>
  	  	  <div class='image-wrapper'>
            <h1>Dish name1</h1>
  	  		  <img src='images/food1.png' />
  	  	  </div>
  	  	</div>
  	  	<div>
          <div class='image-wrapper'>
            <h1>Dish name2</h1>
            <img src='images/food2.png' />
          </div>
        </div>
        <div>
          <div class='image-wrapper'>
            <h1>Dish name3</h1>
            <img src='images/food3.png' />
          </div>
        </div>
        <div>
          <div class='image-wrapper'>
            <h1>Dish name4</h1>
            <img src='images/food4.png' />
          </div>
        </div>
        <div>
          <div class='image-wrapper'>
            <h1>Dish name5</h1>
            <img src='images/food8.png' />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>